

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: 900px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

h2, h3 {
    color: #555;
}

.tipos {
    margin-bottom: 20px;
    text-align: left;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left; 
}

li {
    display: inline-block;
    margin-right: 10px;
}

label {
    margin-left: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#total {
    padding: 5px;
    width: 100px;
    margin-top: 10px;
}
#btnBuscar{
    margin-left: 50em;
    margin-bottom: 5em;
}

#btnLimpiar {
    background-color: #dc3545;
    margin-left: auto; 
    margin-left: 50em;
}

#btnLimpiar:hover {
    background-color: #c82333;
}

/*Imagenes*/

#resultado {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.drink {
    width: calc(25% - 20px); 
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.drink img {
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .drink {
        width: calc(50% - 20px); 
    }
}

@media (max-width: 480px) {
    .drink {
        width: calc(100% - 20px); 
    }
}
